{:paths ["src"]
 ;; TODO: Try to remove a dependency on this one
 :deps {org.clojure/clojurescript {;;:mvn/version "1.10.773"
                                   :local/root "/home/jmonetta/my-projects/clojurescript"
                                   }

        juji/editscript           {:mvn/version "0.4.6"}
        metosin/jsonista {:mvn/version "0.3.4"}
        org.java-websocket/Java-WebSocket {:mvn/version "1.5.2"}
        org.clojure/tools.namespace {:mvn/version "1.2.0"}

        org.openjfx/javafx-controls {:mvn/version "19-ea+3"}
        org.openjfx/javafx-base {:mvn/version "19-ea+3"}
        org.openjfx/javafx-graphics {:mvn/version "19-ea+3"}
        org.openjfx/javafx-media {:mvn/version "19-ea+3"}
        org.openjfx/javafx-web {:mvn/version "19-ea+3"}
        org.openjfx/javafx-swing {:mvn/version "19-ea+3"}

        }

 :jvm-opts []
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner"
                                :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"
                              "-d" "test"]}}}
